

@media screen and (min-width: 993px) {
body {
 .footer__mob {
   display: none;
 }
}
}

@media only screen and(min-width: 768px) and(max-width: 992px) {
  body {
    .header_workshop_sub {
      flex-direction: column;
      align-items: start !important;
    }
    .header_workshop_sub button{
      margin-top: 20px;
    }
    .my_workshop_card {
      width: 300px !important;
    }
    footer {
      display: none !important;
    }
  .footer__mob {
    display: block;
  }
  .my_product_info {
    margin-top: 20px;
  }
  .comments_group {
    display: flex;
    align-items: flex-start !important;
  }
  .user_info {
    margin: 20px !important;
  }
  .my_comment {
    display: flex;
    align-items: start !important;
  }
  .my_comment form textarea {
    height: auto !important ;
  }
  .comments_group img,
  .my_comment img {
    width: 70% !important;
    margin-left: 30px;
  }
  .comments_group .user_info {
    margin-top: -10px !important;
    margin-left: 0 !important;
  }
  .user_info strong {
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .workshop_card {
    width: 210px !important;
  }
  .reviews_buttons_desktop {
    display: none !important;
  }
  .reviews_buttons_mobile {
    display: block !important;
  }
}
}
@media only screen and(max-width: 767px) {
  body {
    .head__main_block {
      padding-top: 0 !important;
      margin-left: 0 !important;
    }
    .header_workshop_sub {
      flex-direction: column;
      align-items: start !important;
    }
    .header_workshop_sub p{
      font-size: 25px !important;
    }
    .main_workshop_title_text strong {
      font-size: 20px !important;
    }
    .main_workshop_title_text p {
      font-size: 14px !important;
    }
    .main_workshop_title_sup {
      flex-direction: column;
    }
    .main_workshop_title_sup span{
      font-size: 20px !important;
    }
    .main_workshop_title_sup button{
      margin-top: 10px !important;
    }
    .main_workshop_title_sup label{
     margin-right: auto !important;
    }
    .modal-content {
      width: 100% !important;
      margin-left: 0 !important;
    }
    .modal-list {
      padding: 30px !important;
      }
      .modal-list input{
        width: 100% !important;
        }
      .modal-title {
        font-size: 18px !important;
        padding-top: 20px !important;
      }
      .avatar-edit {
        width: 70px !important;
      }
     .main_workshop_title_sup select{
      width: 150px !important;
    }
    .main_workshop_card_list {
      justify-content: center !important;
    }
    .header_workshop_sub button{
      margin-top: 20px;
      width: 150px !important;
    }
    .reviews_buttons_desktop {
      display: none !important;
    }
    .reviews_buttons_mobile {
      display: block !important;
    }
    footer {
      display: none !important;
    } 
    .comments_group img,
    .my_comment img {
      width: 180% !important;
    }
    .user_info {
      margin-left: 0 !important;
    }
    .my_comment textarea {
      padding-right: 20px !important;
    }
    .my_comment button {
      margin: 20px auto !important;
    }
  }
}


@media only screen and(max-width: 567px) {
  body {
    .comments_group {
      display: flex;
      align-items: flex-start !important;
    }
    .user_info {
      margin: 20px !important;
    }
    .my_comment {
      display: flex;
      align-items: start !important;
    }
    .my_comment form {
      flex-direction: column !important;
    }
    .my_comment form button {
      position: relative !important;
    }
    .my_comment form textarea {
      height: auto !important ;
    }
    .comments_group img,
    .my_comment img {
      width: 100% !important;
    }
    .comments_group .user_info {
      margin-top: -10px !important;
      margin-left: 0 !important;
    }
    .user_info .date_time {
      flex-direction: column !important;
      align-items: start !important;
    }
    .user_info strong {
      width: 120px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .my_buttons button{
      width: 130px !important;
      height: auto !important;
      padding: 5px 0;
      font-size: 12px !important;
      text-transform: uppercase;
    }
    .mobile_back_home {
      align-items: start !important;
      flex-direction: column;

    }
    .myWorkshop_back_home {
      height: auto !important;
      padding-bottom: 10px;
    }
  }
}

@media only screen and(max-width: 467px) {
  body {
   
    .my_workshop_card {
      margin-left: 15px !important;
    }
    .user_info strong {
      font-size: 16px !important;
      width: 100px !important;
    }
    .user_info span {
      font-size: 12px !important;
    }
    .info_page_user {
      flex-wrap: wrap !important;
    }
    .comment_num_mobile {
      margin-right: 20px !important;
    }
    .new_info_page_title,
    .comments_box .title_text {
      font-size: 20px !important;
      line-height: 22px !important;
    }
    .header_sub_text p {
      font-size: 25px !important;
    }
    .back_home {
      padding: 20px 0 !important;

      .back_home_text {
        font-size: 18px !important;
      }
    }
    .card_new_info_page .blog_img {
      height: 200px !important;
      object-fit: cover;
    }
    .my_comment form button {
      margin-left: 40px !important;
    }
    form {
      textarea {
        resize: vertical !important;
        overflow: auto !important;
        border-radius: 10px !important;
      }
    }
    .user_info {
      flex-direction: column;
      strong {
        width: 200px !important;
      }
    }
    .my_product_info  {
      margin-top: 20px;
    }
    .my_photos{
      .my_photo {
        margin-left: 10px !important;
      }
    }
  }
}
@media screen and (max-width: 368px) {
  body {
    .workshop_card {
      width: 340px !important;
    }
  }
}



// ************** added footer

@media (min-width: 1160px) {
  body {
      font-size: 14px;
  }
  
  .social a i {
      font-size: 25px;
  }
  
  .item__list {
      font-size: 12px;
  }
  .container_ded{
      width: 1160px;
      padding: 0 20px;
  }
  .footer__item{
      margin-right: 9%;
  }
}
@media (max-width: 1100px) {
  .social a i{
      font-size: 18px;
  }
  .item__list{
      font-size: 13px;
  }
  #investonse{
      width: 150px;

  }
  #letcop_com{
      width: 50px;
  }
  .footer__item{
      margin-right: 4.5%;
  }
}
@media (max-width: 1000px) {
  #investonse_mob{
      width: 160px;
  }
  body {
      line-height: 1.5em;
      font-size: 15px;
  }

  .container_ded {
      width: 98%;
  }

  .disNon {
      display: none;
  }
  
  .dis {
      display: block;
  }
  
  .footer__item {
      margin: 0;
      margin-top: 7px;
      padding: 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-weight: 600;
      font-size: 18px;
      
      background-color:  #12114A;
  }
  
  .footer__item:first-child {
      justify-content: center;
      background-color: #fff;
      margin-bottom: 0;
      
  }
  
  .blocks_fr {
      margin-top: 5px;
      text-align: center;
      
  }
  
  .fr__item {
      width: 100%;
      color: #12114A;
      font-weight: 600;
  }
  
  .fr__line {
      margin: 5px 0;
      border-bottom: 1px solid #12114A;
  }
  
  .logo__mob {
      width: auto;
  }
  
  #aboutServiceBlock {
      position: relative;
  }
  
  #chevronAbSv {
      position: absolute;
      top: 29%;
      right: 10px;
  }
  
  #forUsersBlock {
      position: relative;
  }
  
  #chevronForUsers {
      position: absolute;
      top: 29%;
      right: 10px;
  }
  
  #hpBlock {
      position: relative;
  }
  
  #chevronHp {
      position: absolute;
      top: 29%;
      right: 10px;
  }
  
  #scBlock {
      position: relative;
  }
  
  #chevronSc {
      position: absolute;
      top: 29%;
      right: 10px;
  }
  
  .social {
      display: flex;
      justify-content: center;
  }
  
  .social a {
      margin-right: 60px;
      color: #12114A;
  }
  
  .social a:last-child {
      margin: 0;
  }
  
  .social a:hover {
      color: #00CF4D;
  }
  
  .social a i {
      font-size: 30px;
  }

  .copy {
      line-height: 1.8em;
      text-align: center;
  }

}

@media (max-width: 770px) {
  body {
      font-size: 14px;
  }
  
  .footer__item {
      margin-top: 5px;
      padding: 8px 0;
      font-size: 16px;
  }
}

@media (max-width: 550px) {
  .footer__item {
      margin-top: 6px;
      padding: 6px 0;
      font-size: 14px;
  }
}
